<tr class="variant">
  <td>
    <input type="checkbox" value="1">
  </td>
  <td>
    <img src="<%= product_variant.image.url %>" class="border-img" style="max-width: 100px; max-height: 100px; margin: 5px;">
  </td>

  <% product_variant.variant_options.sort_by { |o| o.category }.each do |option| %>
    <td>
      <input type="text" class="form-control" value="<%= option.title %>">
    </td>
  <% end %>

  <td>
    <%= number_to_currency(product_variant.cost) %>
  </td>
  <td>
    <%= product_variant.inventory %>
  </td>
</tr>
