// Place all the styles related to the AliexpressOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn.get-tracking-code {
  margin-left: 0;
}

.btn.get-all-tracking-codes {
  margin-left: auto;
  margin-right: 0;
}
