.remember-me {
  text-align: center;
}

.devise-action-btn {
  margin: 13px 0;
}

.devise-links {
  text-align: center;

  a {
    margin: 3px 0;

    &:hover {
      opacity: 0.5;
    }
  }

}

.devise-header {
  text-align: center;
  margin-bottom: 10px;
}
