<div class="row space-top">
  <div class="col-md-12">
    <div class="tabs">
      <div class="row">
        <div class="col-lg-8 col-sm-7">
          <ul class="nav-tabs">
            <li class="darker-background"><span class="for-checkbox"><input type="checkbox"></span></li>
            <li class="active"><a href="#">Product</a></li>
            <li class=""><a href="#">Variants <span class="badge badge-tab margin-small-left variants-count">3</span></a></li>
            <li class=""><a href="#">Images</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-5 align-right" style="margin-top: 15px;">
          <div>
            <div class="container-flex flex-right">
              <div class="dropdown margin-small-right">
                <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle btn-icon btn-icon-right btn-icon-border-none"><span class="btn-icon-text">Action</span> <span class="btn-icon-wrap"><svg class="icon icon-arrow-more"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/app-icons.svg#icon-arrow-more"></use></svg></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <ul>
                    <li><a href="#">Select Product to Override</a></li>
                    <li><a href="#">Split Product</a></li>
                    <li><a href="#">Remove Product</a></li>
                  </ul>
                </div>
              </div>

              <button type="button" class="btn btn-success btn-icon-left margin-right"><span class="btn-icon-wrap"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./images/icons.svg#icon-add"></use></svg></span> Push to Shop</button>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-body always-display">
        <div>
          <div class="space-bottom" style="display: none;">
            <div class="panel small-padding danger-panel">
              <div class="panel-body">
                <div class="container-flex" style="min-height: 24px;">
                  <svg class="icon-danger-circle margin-small-right">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/app-icons.svg#icon-danger-circle"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="space-bottom" style="display: none;">
            <div class="panel small-padding attention-panel">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-10">
                    <div class="container-flex" style="min-height: 24px;">
                      <svg class="icon-attention-circle margin-small-right no-shrink">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/app-icons.svg#icon-attention-circle"></use>
                      </svg>
                      <div>
                        The product you’re trying to override is no longer available. Please cancel and pick another one.
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <button class="btn btn-danger btn-sm float-right">
                      Cancel Override
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-bottom" style="display: none;">
            <div class="panel small-padding danger-panel">
              <div class="panel-body">
                <div class="container-flex" style="min-height: 24px;">
                  <svg class="icon-danger-circle margin-small-right">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/app-icons.svg#icon-danger-circle"></use>
                  </svg>
                  <div>Could not override selected product</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-xs-4">
              <div class="product-img"><img src="https://img.oberlo.com/?url=https://ae01.alicdn.com/kf/HTB1Pvv2RFXXXXczXpXXq6xXFXXXd/1pc-Wall-Hanging-Mandala-Blanket-7-Chakra-Tapestry-Rainbow-Stripes-Tapestry-Travel-Summer-Beach-Towel-Yoga.jpg" alt="1pc Wall Hanging Mandala Blanket 7 Chakra Tapestry Rainbow Stripes Tapestry Travel Summer Beach Towel Yoga Mat Bikini Cover Up" class="responsive-img border-img">
              </div>
            </div>
            <div class="col-md-9 col-xs-8">
              <div class="container-flex">
                <div class="mr10 no-shrink ali-supplier"></div>
                <h3><a href="#" target="_blank" class="blue-color"><%= product.name %></a> <span class="red-color"></span></h3>
              </div>
              <div class="row space-small-top space-bottom">
                <div class="col-md-12 input-block">
                  <label>Change name:</label>
                  <input type="text" maxlength="255" class="form-control" value="<%= product.name %>">
                </div>
                <div>
                  <div class="col-md-12 input-block js-build-wrapper">
                    <label>Collections:</label>
                    <div class="chosen-container chosen-container-multi" style="width: 100%;">
                      <ul class="chosen-choices">
                        <li class="search-field">
                          <input type="text" value="Choose Collections" autocomplete="off" class="default">
                        </li>
                      </ul>
                    </div>
                    <!---->
                  </div>
                  <div class="col-md-6 input-block js-choosen-parent">
                    <label>Type:</label>
                    <div class="chosen-container chosen-container-single" style="width: 100%;">
                      <!----><a class="chosen-single chosen-default"><span>Choose Type</span> <div><b></b></div></a>
                    </div>
                    <select data-placeholder="Choose Type" class="form-control unvisible">
                      <option value=""></option>
                    </select>
                  </div>
                  <div class="col-md-6 input-block js-choosen-parent">
                    <label>Tags:</label>
                    <div class="chosen-container chosen-container-multi" style="width: 100%;">
                      <ul class="chosen-choices">
                        <li class="search-field">
                          <input type="text" value="Insert Tags Here" autocomplete="off" class="default dummy-input">
                        </li>
                      </ul>
                    </div>
                    <select multiple="multiple" name="tags" placeholder="Enter Tags" class="save-on-change-tags form-control unvisible"></select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
