<%= render @products %>

<!-- Modal for split Products Advanced -->
<div class="modal" id="splitProduct" tabindex="-1" role="dialog" aria-labelledby="splitProduct" aria-hidden="true">
  <div class="legacy-modal-dialog">
    <div class="legacy-modal-content big-970 scrollable">
      <div class="legacy-modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-label="Close">
          <svg class="icon-cross">
            <use xlink:href="/img/app-icons.svg#icon-cross"></use>
          </svg>
        </a>
        <h3 class="modal-title">Split product</h3>
      </div>
      <div class="legacy-modal-body" id="splitModalBody"></div>
    </div>
  </div>
</div>
